@import 'nib'

select_none()
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

ul.hibb-pagination
	select_none()
	list-style none
	padding 0
	margin 0

	li
		display inline-block
		padding 0 4px

		&.prev10, &.prev, &.next, &.next10
			color #CCC
			pointer default

			&.active
				color black
				cursor pointer

		&.current
			&.active
				span
					display none

				input
					border 1px solid #DDD
					border-radius 3px

			span
				cursor pointer

			input
				font-family inherit
				font-size inherit
				width 0
				border none
				background #EEE
				text-align center

		&.text
			color gray